<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Search_result</servlet-name>
        <servlet-class>search.Search_result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>Checkout.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkin</servlet-name>
        <servlet-class>checkin.checkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkinaction</servlet-name>
        <servlet-class>checkin.Checkinaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fineupdate</servlet-name>
        <servlet-class>Fines.fineupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchfine</servlet-name>
        <servlet-class>Fines.searchfine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payfineaction</servlet-name>
        <servlet-class>Fines.payfineaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addborrower</servlet-name>
        <servlet-class>borrower.addborrower</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search_result</servlet-name>
        <url-pattern>/Search_result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkin</servlet-name>
        <url-pattern>/checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkinaction</servlet-name>
        <url-pattern>/Checkinaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fineupdate</servlet-name>
        <url-pattern>/fineupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchfine</servlet-name>
        <url-pattern>/searchfine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payfineaction</servlet-name>
        <url-pattern>/payfineaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addborrower</servlet-name>
        <url-pattern>/addborrower</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
